<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>


       <!--<add name="cnstring"
    connectionString="server=localhost;port=3310;Database=db_pos_ayegun;uid=pos;pwd=pos;Connection Timeout=7893500;"
    providerName="Mysql.Data.MysqlClient" />-->

       <add name="cnstring"
   connectionString="server=localhost;port=3310;Database=db_pos_ayegun;uid=pos;pwd=pos;Connection Timeout=7893500;"
   providerName="Mysql.Data.MysqlClient" />

       <!--<add name="cnstring"
   connectionString="server=192.168.137.45;port=3310;Database=db_pos_ayegun;uid=pos;pwd=pos;Connection Timeout=7893500;"
   providerName="Mysql.Data.MysqlClient" />-->
      

    </connectionStrings>
</configuration>